.txtbtn{
    background-color: rgba(0, 0, 0, 0.377);
    border-color: rgba(0, 0, 0, 0.151);
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    color: white;
    display: relative;
    margin: 1%;

  }
   
  .footernav{
    background-color: #9f83e1ce;
    position: fixed;
    bottom:0;
    width: 100%;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  }


  .typebar{
    
    width: 69vw;
    margin: 1%;
  }
 
  #btun1:hover{
    background-color: rgba(136, 253, 253, 0.377);
    border-color: white;
  }
  #btun2:hover{
    background-color: rgba(136, 253, 253, 0.377);
    border-color: white;
  }
  #btun3:hover{
    background-color: rgba(136, 253, 253, 0.377);
    border-color: white;
  }


  @media (min-height:500px) and (min-width:300px) {
    .typebar{
      width: 40vw;
    }

  }
  @media (min-height:600px) and (min-width:300px) {
    .typebar{
      width: 47vw;
    }

  }
  @media (min-height:700px) and (min-width:400px) {
    .typebar{
      width: 50vw;
    }

  }
  @media (min-height:800px) and (min-width:600px) {
    .typebar{
      width: 62vw;
    }

  }
  @media (min-height:1000px) and (min-width:700px) {
    .typebar{
      width: 49vw;
    }

  }
  @media (min-height:748px) and (min-width:1399px) {
    .typebar{
      width:70vw;
    }

  }
  @media (min-height:1300px) and (min-width:1000px) {
    .typebar{
      width: 78vw;
    }

  }
  @media (min-height:1080px) and (min-width:1920px) {
    .typebar{
      width: 61vw;
    }

  }

 