
html,
.App {
  background-image: url("backgroundimg.jpg");
  background-position:center; 
  background-repeat: no-repeat; 
  background-size: cover;
  background-color: #5be6dd;
  background-blend-mode:screen;
    height: 100%;
    width: 100%;
}



