.bodymsg{
    height: 100%;
    width: 100%;
    justify-content: center;
}
.bodyouterdiv{
    color: white;
    background-color: #9f83e12f;
    border: 1px solid rgba(0, 0, 0, 0.219);
    margin: 2vh 0px 2vh 0px;
    max-height: 80vh;
    height: 100vh;
    display: relative;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #00000077;
    border-radius: 2px;}

  .bodyinnerdiv{
    flex: auto;
    overflow: auto;
  }
  @media (min-height:500px) and (min-width:300px) {
    .bodyouterdiv{
      max-height: 75vh;
      height: 100vh;
    }

  }
  @media (min-height:600px) and (min-width:300px) {
    .bodyouterdiv{
      max-height: 78vh;
      height: 100vh;
    }

  }
  @media (min-height:800px) and (min-width:300px) {
    .bodyouterdiv{
      max-height: 82vh;
      height: 100vh;
    }

  }
  @media (min-height:1000px) and (min-width:700px) {
    .bodyouterdiv{
      max-height: 84vh;
      height: 100vh;
    }

  }
  @media (min-height:1300px) and (min-width:700px) {
    .bodyouterdiv{
      max-height: 87vh;
      height: 100vh;
    }

  }
  @media (min-height:1080px) and (min-width:1920px) {
    .bodyouterdiv{
      max-height: 82vh;
      height: 100vh;
    }

  }
