.loginOuterdiv{
    background-color: #9f83e1;
    width: 30%;
    justify-content: center;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 10%;
    margin: 200px 400px 0px 400px;
    max-height: 620px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    align-items: center;
}
.loginInnerdiv{
    align-items: center;
}
.loginLabel{
    margin: 10%
}
.loginInput{
    margin: 10%;
    border-radius: 20%;
}

.loginButton{
    margin: 10%;
    border-color: white;
}
